name: Continuous Integration

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install Backend Dependencies
        run: |
          cd backend
          npm install

      - name: Install Frontend Dependencies
        run: |
          cd frontend
          npm install --legacy-peer-dep

      - name: Build Frontend
        run: |
          cd frontend
          npm run build

  assign-reviewers:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Auto assign reviewers
        uses: kentaro-m/auto-assign-action@v1
        with:
          reviewers: 'Jashann,Aakash812,FilipKaramanov,ginellego,Sahil-Sharma-603,una-may'
